<%= simple_form_for(@contum) do |f| %>
  <%= f.error_notification %>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h6 class="panel-title">Informações da conta</h6>
    </div>
    <div class="panel-body">
      <strong>
        <%= "Proprietário: #{User.find_by_id(@contum.proprietario_user_id.nil? ? current_user.id : @contum.proprietario_user_id).name}" %>
      </strong>
      </br></br>
      <%= f.input :nome %>
      <%= f.input :razao_social, label: "Razão Social" %>
      <%= f.input :fantasia %>
      <%= f.input :cpf_cnpj, label: "CPF/CNPJ" %>
      <%= f.input :fax %>
      <%= f.input :telefone %>
      <%= f.input :email_nfe, label: "Email NF-e" %>
      <%= f.input :site %>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h6 class="panel-title">Informações adicionais</h6>
    </div>
    <div class="panel-body">
      <%= f.input :qtde_funcionarios, label: "Quantidade de funcionários", html5: true %>
      <%= f.input :propriedade, collection: @contum.tipos_propriedade, prompt: "Escolha o tipo de propriedade" %>
      <%= f.input :tipo_conta, collection: @contum.tipos_conta, label: "Tipo de conta", prompt: "Escolha o tipo de conta" %>
      <%= f.input :setor, collection: @contum.tipos_setor, prompt: "Escolha o setor" %>
      <%= f.input :receita_anual, as: :float %>
      <%= f.input :inscricao_municipal, label: "Inscrição municipal" %>
      <%= f.input :inscricao_estadual, label: "Inscrição estadual" %>
      <%= f.input :descricao, label: "Descrição " %>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h6 class="panel-title">Informações de Correspondência</h6>
    </div>
    <div class="panel-body">
      <div class="panel">
        <div class="panel-heading">
          <h6 class="panel-title">Cobrança</h6>
        </div>
        <div class="panel-body">
          <%= f.association :countrycobr_country, label: "País", label_method: :nome, prompt: "Escolha o país" %>
          <%= f.association :estadocobr_estado, label: "Estado", label_method: :nome, collection: [], prompt: "Escolha o estado" %>
          <%= f.association :cidadecobr_cidade, label: "Cidade", label_method: :nome, collection: [], prompt: "Escolha a cidade" %>  
          <%= f.input :bairro_cobr, label: "Bairro" %>
          <%= f.input :rua_cobr, label: "Rua" %>
          <%= f.input :numero_cobr, label: "Número" %>
          <%= f.input :complemento_cobr, label: "Complemento" %>
          <%= f.input :cep_cobr, label: "CEP" %>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h6 class="panel-title">Entrega</h6>
        </div>
        <div class="panel-body">
          <%= f.association :countryentr_country, label: "País", label_method: :nome, prompt: "Escolha o pais" %>
          <%= f.association :estadoentr_estado, label: "Estado", label_method: :nome, collection: [], prompt: "Escolha o estado" %>
          <%= f.association :cidadeentr_cidade, label: "Cidade", label_method: :nome, collection: [], prompt: "Escolha a cidade" %>      
          <%= f.input :bairro_entr, label: "Bairro" %>
          <%= f.input :rua_entr, label: "Rua" %>
          <%= f.input :numero_entr, label: "Número" %>
          <%= f.input :complemento_entr, label: "Complemento" %>
          <%= f.input :cep_entr, label: "CEP" %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-sm' %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
   $("#contum_countrycobr_country_id").change(function() {
      getEstadosṔorPaisCobr("id="+$("#contum_countrycobr_country_id").val());
    });
  });

  function getEstadosṔorPaisCobr(id) {
    $.getJSON("/estados_por_pais", id, function(j) {
      var options = '<option value="">Escolha o estado</option>';
      $.each(j.est, function(i, item) {
        options += '<option value="' + item.id + '">' + item.n + '</option>';
      });
      $("#contum_estadocobr_estado_id").html(options);
    });
  }
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#contum_estadocobr_estado_id").change(function() {
      getCidadesṔorEstadoCobr("id="+$("#contum_estadocobr_estado_id").val());
    });
  });

  function getCidadesṔorEstadoCobr(id) {
    $.getJSON("/cidades_por_estado", id, function(j) {
      var options = '<option value="">Escolha a cidade</option>';
      $.each(j.cid, function(i, item) {
        options += '<option value="' + item.id + '">' + item.n + '</option>';
      });
      $("#contum_cidadecobr_cidade_id").html(options);
    });
  }
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#contum_countrycobr_country_id").change(function() {
      getCidadesCobrNil("id="+$("#contum_countrycobr_country_id").val());
    });
  });

  function getCidadesCobrNil(id) {
    $.getJSON("/cidades_nil", id, function(j) {
      var options = '<option value="">Escolha a cidade</option>';
      $.each(j.cid, function(i, item) {
        options += '<option value="' + item.id + '">' + item.n + '</option>';
      });
      $("#contum_cidadecobr_cidade_id").html(options);
    });
  }
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#contum_countryentr_country_id").change(function() {
      getEstadosṔorPaisEntr("id="+$("#contum_countryentr_country_id").val());
    });
  });

  function getEstadosṔorPaisEntr(id) {
    $.getJSON("/estados_por_pais", id, function(j) {
      var options = '<option value="">Escolha o estado</option>';
      $.each(j.est, function(i, item) {
        options += '<option value="' + item.id + '">' + item.n + '</option>';
      });
      $("#contum_estadoentr_estado_id").html(options);
    });
  }
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#contum_estadoentr_estado_id").change(function() {
      getCidadesṔorEstadoEntr("id="+$("#contum_estadoentr_estado_id").val());
    });
  });

  function getCidadesṔorEstadoEntr(id) {
    $.getJSON("/cidades_por_estado", id, function(j) {
      var options = '<option value="">Escolha a cidade</option>';
      $.each(j.cid, function(i, item) {
        options += '<option value="' + item.id + '">' + item.n + '</option>';
      });
      $("#contum_cidadeentr_cidade_id").html(options);
    });
  }
</script>

<script type="text/javascript">
  $(document).ready(function() {
   $("#contum_countryentr_country_id").change(function() {
      getCidadesEntrNil("id="+$("#contum_countryentr_country_id").val());
    });
  });

  function getCidadesEntrNil(id) {
    $.getJSON("/cidades_nil", id, function(j) {
      var options = '<option value="">Escolha a cidade</option>';
      $.each(j.cid, function(i, item) {
        options += '<option value="' + item.id + '">' + item.n + '</option>';
      });
      $("#contum_cidadeentr_cidade_id").html(options);
    });
  }
</script>