<div class="panel panel-info">
  <div class="panel-heading">
    <h6 class="panel-title">Informações da conta</h6>
  </div>
  <div class="panel-body">
    
  </div>
</div>

<p>
  <strong>Nome:</strong>
  <%= @contum.nome %>
</p>

<p>
  <strong>Razão social:</strong>
  <%= @contum.razao_social %>
</p>

<p>
  <strong>Fantasia:</strong>
  <%= @contum.fantasia %>
</p>

<p>
  <strong>CPF/CNPJ:</strong>
  <%= @contum.cpf_cnpj %>
</p>

<p>
  <strong>Quantidade de funcionários:</strong>
  <%= @contum.qtde_funcionarios %>
</p>

<p>
  <strong>Propriedade:</strong>
  <%= @contum.propriedade %>
</p>

<p>
  <strong>Tipo de conta:</strong>
  <%= @contum.tipo_conta %>
</p>

<p>
  <strong>Setor:</strong>
  <%= @contum.setor %>
</p>

<p>
  <strong>Receita anual:</strong>
  <%= @contum.receita_anual %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @contum.fax %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @contum.telefone %>
</p>

<p>
  <strong>Email nfe:</strong>
  <%= @contum.email_nfe %>
</p>

<p>
  <strong>Site:</strong>
  <%= @contum.site %>
</p>

<p>
  <strong>Inscrição municipal:</strong>
  <%= @contum.inscricao_municipal %>
</p>

<p>
  <strong>Inscrição estadual:</strong>
  <%= @contum.inscricao_estadual %>
</p>

<p>
  <strong>Bairro de cobrança:</strong>
  <%= @contum.bairro_cobr %>
</p>

<p>
  <strong>Rua de cobrança:</strong>
  <%= @contum.rua_cobr %>
</p>

<p>
  <strong>Número de cobrança:</strong>
  <%= @contum.numero_cobr %>
</p>

<p>
  <strong>Complemento de cobrança:</strong>
  <%= @contum.complemento_cobr %>
</p>

<p>
  <strong>CEP de cobrança:</strong>
  <%= @contum.cep_cobr %>
</p>

<p>
  <strong>Bairro de entrega:</strong>
  <%= @contum.bairro_entr %>
</p>

<p>
  <strong>Rua de entrega:</strong>
  <%= @contum.rua_entr %>
</p>

<p>
  <strong>Número de entrega:</strong>
  <%= @contum.numero_entr %>
</p>

<p>
  <strong>Complemento de entrega:</strong>
  <%= @contum.complemento_entr %>
</p>

<p>
  <strong>CEP de entrega:</strong>
  <%= @contum.cep_entr %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @contum.descricao %>
</p>

<p>
  <strong>Excluída:</strong>
  <%= @contum.excluida %>
</p>