<p>
  <strong>Nome:</strong>
  <%= @contum.nome %>
</p>

<p>
  <strong>Razao social:</strong>
  <%= @contum.razao_social %>
</p>

<p>
  <strong>Fantasia:</strong>
  <%= @contum.fantasia %>
</p>

<p>
  <strong>Cpf cnpj:</strong>
  <%= @contum.cpf_cnpj %>
</p>

<p>
  <strong>Qtde funcionarios:</strong>
  <%= @contum.qtde_funcionarios %>
</p>

<p>
  <strong>Propriedade:</strong>
  <%= @contum.propriedade %>
</p>

<p>
  <strong>Tipo conta:</strong>
  <%= @contum.tipo_conta %>
</p>

<p>
  <strong>Setor:</strong>
  <%= @contum.setor %>
</p>

<p>
  <strong>Receita anual:</strong>
  <%= @contum.receita_anual %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @contum.fax %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @contum.telefone %>
</p>

<p>
  <strong>Email nfe:</strong>
  <%= @contum.email_nfe %>
</p>

<p>
  <strong>Site:</strong>
  <%= @contum.site %>
</p>

<p>
  <strong>Inscricao municipal:</strong>
  <%= @contum.inscricao_municipal %>
</p>

<p>
  <strong>Inscricao estadual:</strong>
  <%= @contum.inscricao_estadual %>
</p>

<p>
  <strong>Bairro cobr:</strong>
  <%= @contum.bairro_cobr %>
</p>

<p>
  <strong>Rua cobr:</strong>
  <%= @contum.rua_cobr %>
</p>

<p>
  <strong>Numero cobr:</strong>
  <%= @contum.numero_cobr %>
</p>

<p>
  <strong>Complemento cobr:</strong>
  <%= @contum.complemento_cobr %>
</p>

<p>
  <strong>Cep cobr:</strong>
  <%= @contum.cep_cobr %>
</p>

<p>
  <strong>Bairro entr:</strong>
  <%= @contum.bairro_entr %>
</p>

<p>
  <strong>Rua entr:</strong>
  <%= @contum.rua_entr %>
</p>

<p>
  <strong>Numero entr:</strong>
  <%= @contum.numero_entr %>
</p>

<p>
  <strong>Complemento entr:</strong>
  <%= @contum.complemento_entr %>
</p>

<p>
  <strong>Cep entr:</strong>
  <%= @contum.cep_entr %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @contum.descricao %>
</p>

<p>
  <strong>Excluida:</strong>
  <%= @contum.excluida %>
</p>