<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Empresa</th>
      <th>Status</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= link_to lead.to_s, lead %></td>
        <td><%= link_to_unless lead.empresa.nil?, lead.empresa, lead %></td>
        <td><%= link_to_unless lead.status.nil?, lead.status, lead %></td>
        <td><%= link_to_unless lead.telefone.nil?, lead.telefone %></td>
        <td><%= link_to_unless lead.celular.nil?, lead.celular %></td>
        <td>
          <%= link_to 'Ver', lead, :class => 'btn btn-default btn-sm' %>
          <%= link_to 'Editar', edit_lead_path(lead), :class => 'btn btn-default btn-sm' %>
          <%= link_to 'Excluir', lead, method: :delete, data: { confirm: 'Tem certeza?' }, :class => 'btn btn-default btn-sm'  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>