<div class="panel panel-info">
  <div class="panel-heading">
     <h6 class="panel-title">Estado</h6>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="alinhamento-campos">
        <strong>Status:</strong></br>
        <%= @lead.status %>
      </div>      

      <div class="alinhamento-campos">
        <strong>Classificacao:</strong></br>        
        <%= @lead.classificacao %>
      </div>
    </div>
    <div class="row">
      <div class="alinhamento-campos">
        <strong>Reconhecido:</strong>
        <%= @lead.reconhecido %>
      </div>
      <div class="alinhamento-campos">
        <strong>Motivo desqualificacao:</strong>
        <%= @lead.motivo_desqualificacao %>
      </div>
      <div class="alinhamento-campos">
        <strong>Convertido:</strong>
        <%= @lead.convertido %>
      </div>
      <div class="alinhamento-campos">
        <strong>Data da conversao:</strong>
        <%= @lead.data_da_conversao %>
      </div>
    </div>
  </div>  
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h6 class="panel-title">Informações do Lead</h6>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="alinhamento-campos">
        <strong>Empresa:</strong>
        <%= @lead.empresa %>    
      </div>
    </div>
    <div class="row">
      <strong>Saudação:</strong>
      <%= @lead.saudacao %>

      <strong>Título:</strong>
      <%= @lead.titulo %>
    
      <strong>Nome:</strong>
      <%= @lead.nome %>
    
      <strong>Sobrenome:</strong>
      <%= @lead.sobrenome %>
    </div>
    <div class="row">
      <strong>Telefone:</strong>
      <%= @lead.telefone %>

      <strong>Celular:</strong>
      <%= @lead.celular %>

      <strong>Fax:</strong>
      <%= @lead.fax %>

      <strong>Recusar telefonemas:</strong>
      <%= @lead.recusar_telefonemas %>
    </div>
    <div class="row">
      <strong>Email:</strong>
      <%= @lead.email %>

      <strong>Recusar emails:</strong>
      <%= @lead.recusar_emails %>
    </div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h6 class="panel-title">Informações de endereço</h6>
  </div>
  <div class="panel-body">
    <div class="row">
      <strong>Rua:</strong>
      <%= @lead.rua %>

       <strong>CEP:</strong>
      <%= @lead.cep %>
    </div>
    <div class="row">
      <strong>Cidade:</strong>
      <%= @lead.cidade %>
      
      <strong>Estado:</strong>
      <%= @lead.estado %>
      
      <strong>País:</strong>
      <%= @lead.country %>
    </div>
    <div class="row">
      <strong>Site:</strong>
      <%= @lead.site %>
    </div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h6 class="panel-title">Informações adicionais</h6>
  </div>
  <div class="panel-body">
    <div class="row">
      <strong>ERP:</strong>
      <%= @lead.erp %>

      <strong>Solução fiscal:</strong>
      <%= @lead.solucao_fiscal %>

      <strong>Origem:</strong>
      <%= @lead.origem %>
    </div>
    <div class="row">
      <strong>Quantidade de funcionários:</strong>
      <%= @lead.qtde_funcionarios %>

      <strong>Quantidade de CNPJ:</strong>
      <%= @lead.qtde_cnpj %>

      <strong>Receita anual:</strong>
      <%= @lead.receita_anual %>

      <strong>Setor:</strong>
      <%= @lead.setor %>

    </div>
    <div class="row">
      <strong>Produtos de interesse:</strong>
      <%= @lead.produtos_interesse %>

      <strong>Solução e/ou serviço de interesse:</strong>
      <%= @lead.tipo_interesse %>

      <strong>Criado por: </strong><%= @lead.criador_user %>, <%= @lead.created_at.strftime("%d/%m/%Y %H:%M") %>

      <strong>Última modificação feita por: </strong><%= @lead.ultimoalterar_user %>, <%= @lead.updated_at.strftime("%d/%m/%Y %H:%M") %>

    </div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h6 class="panel-title">Descrição</h6>
  </div>
  <div class="panel-body">
    <div class="row">
      <strong>Descrição:</strong>
      <%= @lead.descricao %>
    </div>
  </div>
</div>