<div class="panel panel-info">
  <div class="panel-heading">
     <h6 class="panel-title">Estado</h6>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="exibicao">
        <strong>Status:</strong>
        <%= @lead.status %>
      </div>      
      <div class="exibicao">
        <strong>Classificacao:</strong>
        <%= @lead.classificacao %>
      </div>
    </div>
    <div class="row">
      <div class="exibicao">
        <strong>Reconhecido:</strong>
        <%= @lead.reconhecido %>
      </div>
      <div class="exibicao">
        <strong>Motivo desqualificacao:</strong>
        <%= @lead.motivo_desqualificacao %>
      </div>
      <div class="exibicao">
        <strong>Convertido:</strong>
        <%= @lead.convertido %>
      </div>
      <div class="exibicao">
        <strong>Data da conversao:</strong>
        <%= @lead.data_da_conversao %>
      </div>
    </div>
  </div>  
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h6 class="panel-title">Informações do Lead</h6>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="exibicao">
        <strong>Empresa:</strong>
        <%= @lead.empresa %>    
      </div>
    </div>
    <div class="row">
      <div class="exibicao">
        <strong>Saudação:</strong>
        <%= @lead.saudacao %>
      </div>
      
      <div class="exibicao">
        <strong>Título:</strong>
        <%= @lead.titulo %>
      </div>
    
      <div class="exibicao">
        <strong>Nome:</strong>
        <%= @lead.nome %>
      </div>
    
      <div class="exibicao">
        <strong>Sobrenome:</strong>
        <%= @lead.sobrenome %>
      </div>
    </div>
    <div class="row">
      <div class="exibicao">
        <strong>Telefone:</strong>
        <%= @lead.telefone %>
      </div>

      <div class="exibicao">
        <strong>Celular:</strong>
        <%= @lead.celular %>
      </div>

      <div class="exibicao">
        <strong>Fax:</strong>
        <%= @lead.fax %>
      </div>

      <div class="exibicao">
        <strong>Recusar telefonemas:</strong>
        <%= @lead.recusar_telefonemas %>
      </div>
    </div>
    <div class="row">
      <div class="exibicao">
        <strong>Email:</strong>
        <%= @lead.email %>
      </div>

      <div class="exibicao">
        <strong>Recusar emails:</strong>
        <%= @lead.recusar_emails %>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h6 class="panel-title">Informações de endereço</h6>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="exibicao">
        <strong>Rua:</strong>
        <%= @lead.rua %>
      </div>

      <div class="exibicao">
        <strong>CEP:</strong>
        <%= @lead.cep %>
      </div>
    </div>
    <div class="row">
      <div class="exibicao">
        <strong>Cidade:</strong>
        <%= @lead.cidade %>
      </div>
      
      <div class="exibicao">
        <strong>Estado:</strong>
        <%= @lead.estado %>
      </div>
      
      <div class="exibicao">
        <strong>País:</strong>
        <%= @lead.country %>
      </div>
    </div>
    <div class="row">
      <div class="exibicao">
        <strong>Site:</strong>
        <%= @lead.site %>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h6 class="panel-title">Informações adicionais</h6>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="exibicao">
        <strong>ERP:</strong>
        <%= @lead.erp %>
      </div>

      <div class="exibicao">
        <strong>Solução fiscal:</strong>
        <%= @lead.solucao_fiscal %>
      </div>

      <div class="exibicao">
        <strong>Origem:</strong>
        <%= @lead.origem %>
      </div>
    </div>
    <div class="row">
      <div class="exibicao">
        <strong>Quantidade de funcionários:</strong>
        <%= @lead.qtde_funcionarios %>
      </div>

      <div class="exibicao">
        <strong>Quantidade de CNPJ:</strong>
        <%= @lead.qtde_cnpj %>
      </div>

      <div class="exibicao">
        <strong>Receita anual:</strong>
        <%= @lead.receita_anual %>
      </div>

      <div class="exibicao">
        <strong>Setor:</strong>
        <%= @lead.setor %>
      </div>
    </div>
    <div class="row">
      <div class="exibicao">
        <strong>Produtos de interesse:</strong>
        <%= @lead.produtos_interesse %>
      </div>

      <div class="exibicao">
        <strong>Solução e/ou serviço de interesse:</strong>
        <%= @lead.tipo_interesse %>
      </div>

      <div class="exibicao">
        <strong>Criado por: </strong>
        <%= @lead.criador_user %>, <%= @lead.created_at.strftime("%d/%m/%Y %H:%M") %>
      </div>

      <div class="exibicao">
        <strong>Última modificação feita por: </strong>
        <%= @lead.ultimoalterar_user %>, <%= @lead.updated_at.strftime("%d/%m/%Y %H:%M") %>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h6 class="panel-title">Descrição</h6>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="exibicao">
        <strong>Descrição:</strong>
        <%= @lead.descricao %>
      </div>
    </div>
  </div>
</div>