<p id="notice"><%= notice %></p>

<p>
  <strong>Saudacao:</strong>
  <%= @lead.saudacao %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @lead.empresa %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @lead.nome %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @lead.sobrenome %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @lead.titulo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lead.status %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @lead.descricao %>
</p>

<p>
  <strong>Erp:</strong>
  <%= @lead.erp %>
</p>

<p>
  <strong>Solucao fiscal:</strong>
  <%= @lead.solucao_fiscal %>
</p>

<p>
  <strong>Country:</strong>
  <%= @lead.country %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @lead.estado %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @lead.cidade %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @lead.rua %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @lead.cep %>
</p>

<p>
  <strong>Origem:</strong>
  <%= @lead.origem %>
</p>

<p>
  <strong>Reconhecido:</strong>
  <%= @lead.reconhecido %>
</p>

<p>
  <strong>Classificacao:</strong>
  <%= @lead.classificacao %>
</p>

<p>
  <strong>Motivo desqualificacao:</strong>
  <%= @lead.motivo_desqualificacao %>
</p>

<p>
  <strong>Orcamento aprovado:</strong>
  <%= @lead.orcamento_aprovado %>
</p>

<p>
  <strong>Convertido:</strong>
  <%= @lead.convertido %>
</p>

<p>
  <strong>Data da conversao:</strong>
  <%= @lead.data_da_conversao %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @lead.fax %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @lead.celular %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @lead.telefone %>
</p>

<p>
  <strong>Recusar telefonemas:</strong>
  <%= @lead.recusar_telefonemas %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Recusar emails:</strong>
  <%= @lead.recusar_emails %>
</p>

<p>
  <strong>Site:</strong>
  <%= @lead.site %>
</p>

<p>
  <strong>Qtde funcionarios:</strong>
  <%= @lead.qtde_funcionarios %>
</p>

<p>
  <strong>Qtde cnpj:</strong>
  <%= @lead.qtde_cnpj %>
</p>

<p>
  <strong>Setor:</strong>
  <%= @lead.setor %>
</p>

<p>
  <strong>Receita anual:</strong>
  <%= @lead.receita_anual %>
</p>

<p>
  <strong>Tipo interesse:</strong>
  <%= @lead.tipo_interesse %>
</p>

<p>
  <strong>Produtos interesse:</strong>
  <%= @lead.produtos_interesse %>
</p>

<%= link_to 'Editar', edit_lead_path(@lead), :class => 'btn btn-default' %>
<%= link_to 'Converter', convert_lead_path, :class => 'btn btn-default' %>
<%= link_to 'Voltar', leads_path, :class => 'btn btn-default' %>