<%# add navigation links to this file %>
<li><%= link_to 'Leads', leads_path %></li>
<li><%= link_to 'Contas', conta_path %></li>
<li><%= link_to 'Contatos', contatos_path %></li>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Edit account', edit_user_registration_path %></li>
<li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% if current_user.admin? %>
 	<li><%= link_to 'Admin Dashboard', rails_admin_path%></li>
<% end %>
