<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Compliance Crm Test" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Compliance Crm Test" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', media: "all", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container master-container">
        <div class="col-md-12">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </main> 
    <div class="panel-footer">
      <div class="container">
        <strong>Links</strong>
        <li>
          <a href="http://54.207.78.3/moodle/">EAD Compliance</a>
        </li>
        <li>
          <a href="http://www.compliancefiscal.com.br">compliance Fiscal</a>
        </li>
        <% if user_signed_in? %>
          <li><%= link_to 'Sobre', page_path('about') %></li>
        <% end %>
      </div>
    </div>
  </body>
</html>
